.header-navbar{
  display: grid;
  align-items: center;
  justify-content: end;

  &__btn{
    width: 30px;
    height: 22.5px;
    position: relative;
    margin: 25px auto;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    & span:nth-child(2) {
      top: 0px;
    }

    & span:nth-child(4) {
      top: 9px;
    }

    & span:nth-child(6) {
      top: 18px;
    }
    &-row{
      display: block;
      position: absolute;
      height: 3px;
      width: 50%;
      background: $color-light;
      opacity: 1;
      transform: rotate(0deg);
      transition: .25s ease-in-out;

      &:nth-child(1){
        top: 0px;
      }

      &:nth-child(3) {
        top: 9px;
      }

      &:nth-child(5) {
        top: 18px;
      }
      &:nth-child(even) {
        left: 50%;
        border-radius: 0 3px 3px 0;
      }
      &:nth-child(odd) {
        left:0px;
        border-radius: 3px 0 0 3px;
      }
      &--active{
        & span:nth-child(1),& span:nth-child(6) {
          transform: rotate(45deg);
        }

        & span:nth-child(2),.& span:nth-child(5) {
          transform: rotate(-45deg);
        }

        & span:nth-child(1) {
          left: 1.66px;
          top: 2.3px;
        }

        & span:nth-child(2) {
          left: calc(50% - 1.66px);
          top: 2.3px;
        }

        & span:nth-child(3) {
          left: -50%;
          opacity: 0;
        }

        & span:nth-child(4) {
          left: 100%;
          opacity: 0;
        }

        & span:nth-child(5) {
          left: 1.66px;
          top: 14.5px;
        }

        & span:nth-child(6) {
          left: calc(50% - 1.66px);
          top: 14.5px;
        }
      }
    }
  }
  &__list{
    list-style: none;
    padding: 0 -10px 0 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 100px);
  }
  &__item{
    margin-left: 20px;
  }
  &__link{
    display: block;
    padding: 20px 10px;
    font-size: 18px;
    transition: color 0.5s;
  }
  &:hover,
  &:focus{
    color: $color-accent;
  }
}



