.header-navbar{
  display: grid;
  align-items: center;
  justify-content: end;

}


 .header-navbar__btn {
  width: 30px;
  height: 22.5px;
  position: relative;
  margin: 25px auto;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
}

/* Icon 2 */

.header-navbar__btn {
}

.header-navbar__btn-row {
  display: block;
  position: absolute;
  height: 3px;
  width: 50%;
  background: $color-light;
  opacity: 1;
  transform: rotate(0deg);
  transition: .25s ease-in-out;

}

.header-navbar__btn-row:nth-child(even) {
  left: 50%;
  border-radius: 0 3px 3px 0;
}

.header-navbar__btn-row:nth-child(odd) {
  left:0px;
  border-radius: 3px 0 0 3px;
}

.header-navbar__btn-row:nth-child(1), .header-navbar__btn span:nth-child(2) {
  top: 0px;
}

.header-navbar__btn-row:nth-child(3), .header-navbar__btn span:nth-child(4) {
  top: 9px;
}

.header-navbar__btn-row:nth-child(5), .header-navbar__btn span:nth-child(6) {
  top: 18px;
}

.header-navbar__btn-row--active span:nth-child(1),.header-navbar__btn-row--active span:nth-child(6) {
  transform: rotate(45deg);
}

.header-navbar__btn-row--active span:nth-child(2),.header-navbar__btn-row--active span:nth-child(5) {
  transform: rotate(-45deg);
}

.header-navbar__btn-row--active span:nth-child(1) {
  left: 1.66px;
  top: 2.3px;
}

.header-navbar__btn-row--active span:nth-child(2) {
  left: calc(50% - 1.66px);
  top: 2.3px;
}

.header-navbar__btn-row--active span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

.header-navbar__btn-row--active span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

.header-navbar__btn-row--active span:nth-child(5) {
  left: 1.66px;
  top: 14.5px;
}

.header-navbar__btn-row--active span:nth-child(6) {
  left: calc(50% - 1.66px);
  top: 14.5px;
}

