.header{
  display:grid;
  align-content: center;
  position: relative;
  background-color:#2d3651;
  min-height: 100vh;
  background-image: url(../img/img-header.png);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 0;
  color: #ffffff;
}